<form (ngSubmit)="login(myForm)" #myForm="ngForm">
    
    @if (myForm.invalid && myForm.submitted) {
        <div>Formulaire invalide</div>
        @if (email.hasError('required')) {
            L'email est obligatoire
        }
        @if (email.hasError('minlength')) {
            Vous avez mis 
                {{ email.errors!['minlength'].actualLength }} caractères, 
                {{ email.getError('minlength').requiredLength }} caractères obligatoires
        }
    }

    <div [ngClass]="{ red: myForm.invalid, green: myForm.valid }">Mon Texte</div>
    <div [ngStyle]="{ color: 'red', fontWeight: 'bold' }">texte 2</div>

    <label>Email</label>
    <input type="text" name="email" ngModel #email="ngModel" required minlength="3">

    <label>Password</label>
    <input type="password" name="password" ngModel>

    <button>Se connecter</button>
</form>